.size12{
    font-size: 12px;
}
.size14{
    font-size: 14px;
}
.size16{
    font-size: 16px;
}
.sizsize28e12{
    font-size: 28px;
}

.gray{
    color:#8E8E8E;
}
.blue{
    color:#0095F6;
}
.black{
    color:#262626;
}
.fWeight400{
    font-weight: 400;
}
.fWeight600{
    font-weight: 600;
}
.fWeight700{
    font-weight: 700;
}
.fWeight800{
    font-weight: 800;
}
.center{
    align-items: center;
}
.left{
    align-items: left;
}
.right{
    align-items: right;
}